# Import Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler,Normalizer
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import layers
import tensorflow as tf

### Data Loading and observing

In [2]:
# loading dataset
dataset = pd.read_csv('life_expectancy.csv')
# observing first five entries
dataset.head()

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,Afghanistan,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Afghanistan,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Afghanistan,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Afghanistan,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Afghanistan,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [3]:
# datatypes of columns
print(dataset.dtypes)

Country                             object
Year                                 int64
Status                              object
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
Life expectancy                    float64
dtype: object

In [4]:
# Summary stat of dataset
dataset.describe()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2.938000e+03,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000
mean,2007.518720,164.725664,30.303948,4.546875,738.251295,83.022124,2419.592240,38.381178,42.035739,82.617767,5.924098,82.393125,1.742103,6611.523863,1.023085e+07,4.821886,4.852144,0.630362,12.009837,69.234717
std,4.613841,124.086215,117.926501,3.921946,1987.914858,22.996984,11467.272489,19.935375,160.445548,23.367166,2.400770,23.655562,5.077785,13296.603449,5.402242e+07,4.397621,4.485854,0.205140,3.265139,9.509115
min,2000.000000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000,36.300000
25%,2004.000000,74.000000,0.000000,1.092500,4.685343,82.000000,0.000000,19.400000,0.000000,78.000000,4.370000,78.000000,0.100000,580.486996,4.189172e+05,1.600000,1.600000,0.504250,10.300000,63.200000
50%,2008.000000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.755000,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000,72.100000
75%,2012.000000,227.000000,22.000000,7.390000,441.534144,96.000000,360.250000,56.100000,28.000000,97.000000,7.330000,97.000000,0.800000,4779.405190,4.584371e+06,7.100000,7.200000,0.772000,14.100000,75.600000
max,2015.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000,89.000000

In [5]:
dataset=dataset.drop(['Country'],axis=1)

In [6]:
dataset.head()

,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Life expectancy
0,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [7]:
labels = dataset.iloc[:,-1]

In [8]:
labels.head()

0    65.0
1    59.9
2    59.9
3    59.5
4    59.2
Name: Life expectancy, dtype: float64

In [9]:
features = dataset.iloc[:, 0:-1]
features

,Year,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,2015,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,2014,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,2013,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,2012,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,2011,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,2004,Developing,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,2003,Developing,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,2002,Developing,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,2001,Developing,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,2000,Developing,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

## Data Preprocessing

In [10]:
# one hot encoding for categorical columns
features = pd.get_dummies(features)
features.head()

,Year,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Status_Developed,Status_Developing
0,2015,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,...,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,0,1
1,2014,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,0,1
2,2013,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,0,1
3,2012,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,...,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,0,1
4,2011,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,0,1

## Split data into training and test sets

In [11]:
features_train,features_test,labels_train,labels_test = train_test_split(features,labels, test_size=0.2,random_state=42)

### Normalizing Numerical Features

In [12]:
numerical_features = features.select_dtypes(include=['float64','int64'])
numerical_columns = numerical_features.columns

ct = ColumnTransformer([("standardize", StandardScaler(), numerical_columns)], remainder='passthrough')

In [13]:
features_train_scaled = ct.fit_transform(features_train)
features_test_scaled = ct.transform(features_test)

## Building the model

In [14]:
my_model = Sequential()

In [15]:
input = tf.keras.layers.InputLayer(input_shape=(dataset.shape[1],))
my_model.add(input)

In [16]:
hidden = tf.keras.layers.Dense(8, activation='relu')
my_model.add(hidden)

In [17]:
output = tf.keras.layers.Dense(1)
my_model.add(output)

In [18]:
# summary of the model
my_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 176

 dense_1 (Dense)             (None, 1)                 9

=================================================================
Total params: 185
Trainable params: 185
Non-trainable params: 0
_________________________________________________________________

##### Optimizer

In [19]:
opt = Adam(learning_rate = 0.01)

## Compile Model

In [20]:
my_model.compile(loss ='mse', metrics=['mae'],optimizer = opt)

##  Fit and Evaluate the Model

In [21]:
my_model.fit(features_train,labels_train,epochs = 40, batch_size=1,verbose = 1)

Epoch 1/40
2350/2350 [==============================] - 2s 771us/step - loss: 1810265145344.0000 - mae: 119726.1328
Epoch 2/40
2350/2350 [==============================] - 2s 794us/step - loss: 418291875840.0000 - mae: 77045.7969
Epoch 3/40
2350/2350 [==============================] - 2s 770us/step - loss: 5708260864.0000 - mae: 10649.7754
Epoch 4/40
2350/2350 [==============================] - 2s 771us/step - loss: 128008732672.0000 - mae: 25187.72850s - loss: 149661941760.0000 - mae
Epoch 5/40
2350/2350 [==============================] - 2s 773us/step - loss: 20219.2129 - mae: 80.10890s - loss: 20424.3926 - mae: 80.23
Epoch 6/40
2350/2350 [==============================] - 2s 770us/step - loss: 77433.4609 - mae: 87.7948
Epoch 7/40
2350/2350 [==============================] - 2s 768us/step - loss: 10156.4492 - mae: 74.20911s
Epoch 8/40
2350/2350 [==============================] - 2s 775us/step - loss: 6803.5747 - mae: 70.1134 0s - loss: 6978.4648 - mae: 70.2
Epoch 9/40
2350/2350 [==============================] - 2s 771us/step - loss: 6555.6274 - mae: 69.3184 0s - loss: 6863.6836 - mae
Epoch 10/40
2350/2350 [==============================] - 2s 780us/step - loss: 4414.0151 - mae: 65.1803
Epoch 11/40
2350/2350 [==============================] - 2s 767us/step - loss: 3408.8342 - mae: 57.4741 0s - loss: 3655.915
Epoch 12/40
2350/2350 [==============================] - 2s 765us/step - loss: 2006.1689 - mae: 43.3846
Epoch 13/40
2350/2350 [==============================] - 2s 792us/step - loss: 815.7839 - mae: 26.53650s - loss: 863.5999 - ma
Epoch 14/40
2350/2350 [==============================] - 2s 775us/step - loss: 238.7356 - mae: 13.4802
Epoch 15/40
2350/2350 [==============================] - 2s 762us/step - loss: 100.8719 - mae: 8.5741
Epoch 16/40
2350/2350 [==============================] - 2s 777us/step - loss: 91.4536 - mae: 7.8425
Epoch 17/40
2350/2350 [==============================] - 2s 788us/step - loss: 91.3760 - mae: 7.8000
Epoch 18/40
2350/2350 [==============================] - ETA: 0s - loss: 90.4842 - mae: 7.7634 ETA: 0s - loss: 90.2093 - mae:  - 2s 785us/step - loss: 91.3939 - mae: 7.7986
Epoch 19/40
2350/2350 [==============================] - 2s 776us/step - loss: 91.4046 - mae: 7.79901s -
Epoch 20/40
2350/2350 [==============================] - 2s 789us/step - loss: 91.3846 - mae: 7.78370s - loss: 87. - ETA: 0s - loss:
Epoch 21/40
2350/2350 [==============================] - 2s 765us/step - loss: 91.3906 - mae: 7.80270s -
Epoch 22/40
2350/2350 [==============================] - 2s 779us/step - loss: 91.3995 - mae: 7.7987
Epoch 23/40
2350/2350 [==============================] - 2s 813us/step - loss: 91.3852 - mae: 7.7885
Epoch 24/40
2350/2350 [==============================] - 2s 791us/step - loss: 91.4022 - mae: 7.8014
Epoch 25/40
2350/2350 [==============================] - 2s 748us/step - loss: 91.3875 - mae: 7.7905
Epoch 26/40
2350/2350 [==============================] - 2s 753us/step - loss: 91.3950 - mae: 7.80101s - loss: 99.7614 - mae
Epoch 27/40
2350/2350 [==============================] - 2s 766us/step - loss: 91.4014 - mae: 7.7954
Epoch 28/40
2350/2350 [==============================] - 2s 814us/step - loss: 91.3905 - mae: 7.7963
Epoch 29/40
2350/2350 [==============================] - 2s 736us/step - loss: 91.3968 - mae: 7.7883
Epoch 30/40
2350/2350 [==============================] - 2s 755us/step - loss: 91.3497 - mae: 7.8128
Epoch 31/40
2350/2350 [==============================] - 2s 766us/step - loss: 91.3923 - mae: 7.77860s - loss: 8
Epoch 32/40
2350/2350 [==============================] - 2s 776us/step - loss: 91.3815 - mae: 7.7958
Epoch 33/40
2350/2350 [==============================] - 2s 765us/step - loss: 91.3796 - mae: 7.8005
Epoch 34/40
2350/2350 [==============================] - 2s 762us/step - loss: 91.3985 - mae: 7.7870
Epoch 35/40
2350/2350 [==============================] - 2s 872us/step - loss: 91.3996 - mae: 7.8003
Epoch 36/40
2350/2350 [==============================] - 2s 776us/step - loss: 91.3543 - mae: 7.8044
Epoch 37/40
2350/2350 [==============================] - 2s 794us/step - loss: 91.4020 - mae: 7.7926
Epoch 38/40
2350/2350 [==============================] - 2s 784us/step - loss: 91.3725 - mae: 7.7851A: 1s - loss
Epoch 39/40
2350/2350 [==============================] - 2s 769us/step - loss: 91.3830 - mae: 7.8091
Epoch 40/40
2350/2350 [==============================] - 2s 778us/step - loss: 91.3907 - mae: 7.7960

## Evaluating model

In [22]:
res_mse,res_mae = my_model.evaluate(features_test,labels_test,verbose = 0)

In [23]:
res_mse

86.97447967529297

In [24]:
res_mae

7.658811092376709